
.right_frame {
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 3%;
    color: #666;
  }
  
  @media (min-width: 800px) {
    .right_frame {
      border: 1px solid #eeeded;
      padding-bottom: 20px;
      padding-top:2em;
    }
    
  }
  .right_frame > h3 {
    color: #333;
    margin-top: 0;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
  }

  .bdf {
    border-top: 1px dashed #efefef;
    padding-top: 0.8em;
  }
  .bdf h3 {
    margin-top: 10px;
    color: #666;
    font-weight: bold;
    font-size: 1em;
  }
  .bdf>div{
    padding:5px 5px;
  }
.info{
  padding: 10px 10px;
}
.info>div{
  cursor: pointer;
  margin:8px 0px;
  font-size: 1.1em;
}